<table cellpadding="0" cellspacing="0" align="center" class="es-content">
                <tbody>
                  <tr>
                    <td align="center" class="esd-stripe">
                      <table bgcolor="#ffffff" align="center" cellpadding="0" cellspacing="0" width="600" class="es-content-body">
                        <tbody>
                          <tr>
                            <td align="left" class="esd-structure es-p30t es-p30b es-p20r es-p20l">
                              <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                  <tr>
                                    <td width="560" align="center" valign="top" class="esd-container-frame">
                                      <table cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td align="center" class="esd-block-text es-p20r es-p20l es-m-p0r es-m-p0l">
                                              <h3 class="es-m-txt-l">
                                                Dear {{ name }},
                                              </h3>
                                              <p class="es-m-txt-l">
                                                <br>
                                              </p>
                                              <p style="text-align: left">
                                                Thank you for signing up with {{ appName }}! To complete your registration, please verify your email address by clicking the link below:<br>​
                                              </p>
                                              <p style="text-align: left">
                                                <strong><a href="{{ url }}" target="_blank">Verify Your Email</a><br>​</strong>
                                              </p>
                                              <p style="text-align: left">
                                                If you did not create an account, you can safely ignore this email.<br>​
                                              </p>
                                              <p style="text-align: left">
                                                Thank you,<br>{{ appName }} Team
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>